#wall{
    background: #ffff;
}
#wall .tag-1 {
    background: white; 
  }
  
  #wall #tag-2 {
    background: white; 
  }
  
  #wall #tag-3.slick {
    background: white; 
 }
  
  #wall #tag-4 {
    background: white; 
  }
  
  #wall .parent #tag-5.slick {
    background: white; 
  }
  
  #wall div.parent div:last-child #tag-6 {
    background: white; 
  }
  
  #wall div.parent div > #tag-7.slick {
    background: white; 
  }
  body{
    background: #ffff;
  }

